html,
body {
    /* 스크롤 체이닝 방지 코드 */
    /* html,body 에 아래 속성을 넣어야 한다 */
    height: 100%;
    overflow-y: auto;
    overscroll-behavior: contain;
}

footer {
    border-top: 1px solid #fff; /* 푸터 상단 경계선 추가 */
    padding: 3vh 0 6vh; /* 푸터 상하 여백 */
}
